*{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
button{
    background-color: rgb(0, 0, 255);
    border-radius: 50px;
    border: 10px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 300px;
    height: 70px;
    cursor: pointer;
    font-size: 30px;
}
button:hover{
    background-color: rgb(19, 19, 233);
}

#diceholder{
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 10px solid rgb(66, 145, 42);
    border-radius: 10px;
    font-size: 80px;
    font-weight: bold;
    background-color: rgb(179, 236, 209);
    color: rgb(112, 99, 99);
}
body{
    background-color: rgb(216, 222, 216);
    
}