*{
    font-family:Arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 98vh;
    background-color: rgb(223, 225, 226);
}
.container{
    background-color: aqua;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(37, 36, 36);
    padding: 50px;
    border-radius: 10px;
}
button{
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    font-size: larger;
}
button:hover{
    background-color: rgb(17, 17, 200);
}
p{
    font-size: 30px;
    color: rgb(16, 90, 51);
}